<h1>New User: {{users}}</h1>


<form action="/messages" method="POST">
  <textarea style="font-size: 1rem;" name="message" id="" cols="60" rows="1"></textarea>
  <button type="submit">CREATE</button>
</form>
<a href="/">go back home</a>